* {
    margin: 0;
    padding: 0;
}

.container-flex {
    display: flex;
    width: 100%;
}


/* checkbox class */

* {
	box-sizing: border-box;
}

body {
	background-image: url(./images/stockimage.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	transition: background 0.2s linear;
}

body.dark {
	background-image: url(./images/vaporwavesun.jpg);
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	padding: 5px;
	position: absolute;
    top: 25px; 
    right: 45px;
	height: 26px;
	width: 130px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(40px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(55px);
}

.stock {
	color: #f10fd3;
}
.crypto {
	color: #4312f3;
}

/* end checkbox */

.wolf {
    background-color: #633c18;
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    box-shadow: -5px 5px 15px black;
}

.wallStreet {
    background-color: #2f241e;
}


/* end stock toggle */

.align-middle {
    height: 90vh;
    align-items: center;
}

.nav-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
}

.align-right {
    margin-left: auto;
    padding-right: 3rem;
}

.searchAside {
    display: flex;
    flex-wrap: wrap;
}

.searchAside h5 {
    text-align: start;
    width: 100%;
}

.row .col .tickInput {
    width: 100%;
}

.row .col .tickContainer {
    margin: 0;
    display: flex;
    width: 100%;
}